<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Dollar Game</title>
  <style>
    html {font-size: 21.0px;}
    @media only screen and (max-width: 1300px) {html {font-size: 20.8px;}}
    @media only screen and (max-width: 1280px) {html {font-size: 20.6px;}}
    @media only screen and (max-width: 1260px) {html {font-size: 20.4px;}}
    @media only screen and (max-width: 1240px) {html {font-size: 20.2px;}}
    @media only screen and (max-width: 1220px) {html {font-size: 20.0px;}}
    @media only screen and (max-width: 1200px) {html {font-size: 19.8px;}}
    @media only screen and (max-width: 1180px) {html {font-size: 19.6px;}}
    @media only screen and (max-width: 1160px) {html {font-size: 19.4px;}}
    @media only screen and (max-width: 1140px) {html {font-size: 19.2px;}}
    @media only screen and (max-width: 1120px) {html {font-size: 19.0px;}}
    @media only screen and (max-width: 1100px) {html {font-size: 18.8px;}}
    @media only screen and (max-width: 1080px) {html {font-size: 18.6px;}}
    @media only screen and (max-width: 1060px) {html {font-size: 18.4px;}}
    @media only screen and (max-width: 1040px) {html {font-size: 18.2px;}}
    @media only screen and (max-width: 1020px) {html {font-size: 18.0px;}}
    @media only screen and (max-width: 1000px) {html {font-size: 17.8px;}}
    @media only screen and (max-width: 980px) {html {font-size: 17.6px;}}
    @media only screen and (max-width: 960px) {html {font-size: 17.4px;}}
    @media only screen and (max-width: 940px) {html {font-size: 17.2px;}}
    @media only screen and (max-width: 920px) {html {font-size: 17.0px;}}
    @media only screen and (max-width: 900px) {html {font-size: 16.8px;}}
    @media only screen and (max-width: 880px) {html {font-size: 16.6px;}}
    @media only screen and (max-width: 860px) {html {font-size: 16.4px;}}
    @media only screen and (max-width: 840px) {html {font-size: 16.2px;}}
    @media only screen and (max-width: 820px) {html {font-size: 16.0px;}}
    @media only screen and (max-width: 800px) {html {font-size: 15.8px;}}
    @media only screen and (max-width: 780px) {html {font-size: 15.6px;}}
    @media only screen and (max-width: 760px) {html {font-size: 15.4px;}}
    @media only screen and (max-width: 740px) {html {font-size: 15.2px;}}
    @media only screen and (max-width: 720px) {html {font-size: 15.0px;}}
    @media only screen and (max-width: 700px) {html {font-size: 14.8px;}}
    @media only screen and (max-width: 680px) {html {font-size: 14.6px;}}
    @media only screen and (max-width: 660px) {html {font-size: 14.4px;}}
    @media only screen and (max-width: 640px) {html {font-size: 14.2px;}}
    @media only screen and (max-width: 620px) {html {font-size: 14.0px;}}
    @media only screen and (max-width: 600px) {html {font-size: 13.8px;}}
    @media only screen and (max-width: 580px) {html {font-size: 13.6px;}}
    @media only screen and (max-width: 560px) {html {font-size: 13.4px;}}
    @media only screen and (max-width: 540px) {html {font-size: 13.2px;}}
    @media only screen and (max-width: 520px) {html {font-size: 13.0px;}}
    @media only screen and (max-width: 500px) {html {font-size: 12.8px;}}
    @media only screen and (max-width: 480px) {html {font-size: 12.6px;}}
    @media only screen and (max-width: 460px) {html {font-size: 12.4px;}}
    @media only screen and (max-width: 440px) {html {font-size: 12.2px;}}
    @media only screen and (max-width: 420px) {html {font-size: 12.0px;}}
    @media only screen and (max-width: 400px) {html {font-size: 11.8px;}}
    @media only screen and (max-width: 380px) {html {font-size: 11.6px;}}
    @media only screen and (max-width: 360px) {html {font-size: 11.4px;}}
    @media only screen and (max-width: 340px) {html {font-size: 11.2px;}}
    @media only screen and (max-width: 320px) {html {font-size: 11.0px;}}

    * {
      box-sizing: border-box;
    }

    html {
      line-height: 135%;
      /*
        This gets rid of the awkward vertical scrollbar that forms when
        <html> and <body> both have a height of 100%
      */
      overflow: hidden;
    }

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    #game {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }

    header {
      padding: 5px;
      height: 2em;
      background-color: lightblue;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    header .right {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }

    .vertex__text {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }

    .vertex:hover {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <header>
    <div>Moves made: <span class="moves">0</span></div>
    <span class="right">Press Space to play another game.</span>
    <button class="right new-game">New Game</button>
  </header>
  <div id="game"></div>
</body>
</html>